header{
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 76, 255, 0.575);
}
header h1{
    font-size: 40px;
    font-family: STzhongsong, serif;
    font-weight: 900;
    text-align: left;
    margin:15px 0 0 20px;
}
main{
    position:fixed;
    box-sizing: border-box;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 5px 5px 10px inset #838383;
    padding: 10px;

    font-family: STheiti, serif;

    background-color: rgb(255, 255, 255);

    overflow-y: auto;
}
aside{
    position: fixed;
    box-sizing: border-box;
    top:80px;
    left: 0;
    width:100%;
    height:50px;
    box-shadow: 3px 3px 5px inset #838383;

    font-family: STzhongsong, serif;

    background-color: rgba(145, 145, 145, 0.466);
}
aside ul{
    width:100%;
    height:100%;
    margin:0 5% 0 5%;
    padding:0 0 0 0;

}
aside ul li{
    margin:15px 0 15px 0;
    width:15%;
    float:left;
    list-style-type:none;
}

a{
    padding:2px 2px 2px 2px;
}
a:link{
    color:rgb(0, 76, 255);
    border:2px solid rgba(204, 204, 204, 0.466);
    text-decoration:none;
}
a:visited{
    color:rgb(0, 76, 255);
    border:2px solid rgba(204, 204, 204, 0.466);
    text-decoration:none;
}
a:hover{
    color:rgba(0, 76, 255, 0.37);
    border:2px solid rgb(0, 76, 255);
    text-decoration:none;
}
a:active{
    color:rgb(0, 76, 255);
    text-decoration:none;
}


input[type="submit"],button{
    height: 30px;
    width: 100px;
    margin: 2px;
    border: 0;
}
input[type="submit"]:hover,button:hover{
    background-color:rgba(0, 76, 255, 0.575);
}


#main_table{
    table-layout: fixed;
    width: 100%;
    margin:0 0 10px 0;
}
#main_table>tr>td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid rgba(0, 78, 255, 0.65);
}
#main_table>tr>th{
    background-color: rgba(0, 78, 255, 0.65);
}
#main_page_choose_bar div{

    float:left;
}
#page_number_bar{
    position:absolute;
    margin:0 10px 0 0;
    right:0;
}

#page_number_bar a{
    height: 23px;
    margin: 0 5px;
    padding: 1px 4px 1px 4px;
    border: solid 1px #666;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
    background-position: 0 -74px;
    background-color:rgba(0, 78, 255, 0.65);
    cursor: default;
}
textarea,input[type="text"],input[type="email"],select{
    width:100%;
    resize:none;
}

